h1{
    text-align: center;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 'Verdana';
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(96, 84, 84, 0.288);
    height: 100%;
    width: 100%;
    background-size: 600% 600%;
}

.file{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button{
    text-align: center;
    margin-bottom: 50px;
}

#download-link{
    text-align: center;
}